body {
    background-color: beige;
}

.navegacion {
    width: 8000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;

}
.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: black;
    font-family: sans-serif;
    text-decoration: none;

}
.menu li a:hover{
    color: blue;
    transition: all .3s;

}
.submenu{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 90%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;

}
.submenu li a {
    display: block;
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;

}



.clear {
    clear: both;
}

article {
    background-color: rgb(255, 251, 0);
    width: 50%;
    float: left;
    padding: 25px;

}

aside {
    background-color: orchid;
    width: 40%;
    float: right;
    padding: 25px;
}

footer {
    background-color: cornflowerblue;
    height: 150px;
    padding: 20px;
}




.bajada {
    color: rgb(0, 102, 255);
    text-transform: uppercase;
}

h1 {
    text-align: left;
    font-size: 40px;
}

h2 {
    font-size: 25px;
}



p {
    text-align: left;
}